
body{
    padding: 50px 100px;
    background-color: rgb(208, 202, 202);
 }

 h1{
     text-align: center;
     margin-bottom: 0px;
 }

 #container{
     text-align: center;
     background-color: rgb(190, 114, 44);
     padding: 50px;
     border: 2px solid black;
     border-radius: 20px;
 }

 .input-div{
     display: inline-block;
     
     
 }
 
 .inp{
     padding:  5px 10px;
     margin:  10px;
     font-size: 30px;
     font-weight: bold;
     width: 250px;
     text-align: center;
     border-radius: 10px;
    
 }

 label{
    font-size: 30px;
    font-weight: 500;
}
    